.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h6 {
  text-align: left;
}

.scenarioTree {
  text-align: left;
  float: left;
  max-width: 500px;

  overflow-y: scroll;
  min-height: 600px;
  max-height: 600px;
  min-width: 300px;
  border-style: solid;
  border-radius: 10px;
  border-color: slategrey;
  border-width: 1px;
  padding-top: 20px;
  font-weight: bold;
  font-family: "Gill Sans", sans-serif;
}

.scenarioTree treeItem {
  font-family: "Gill Sans", sans-serif;
}
.single-scenatio-view {
  min-width: 400px;
  text-align: left;
}

.single-scenatio-view h1 {
  text-align: center;
}

#scenario-action {
  color: white;
}
.actions-container {
  float: right;
}

.card-body {
  text-align: left;
  border: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-color: #eeeeee;
}

#card-header-button:focus {
  outline: none;
  box-shadow: none;
}

.list-group-item {
  text-align: left;
}
li Button {
  float: right;
}

.container-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
